<h3>{{ name }} hello</h3>
<input type="text" [(ngModel)]="name" [title]="'đây là ' + name" /><br /><br />
<input type="number" [(ngModel)]="age" />
<div *ngIf="age <= 18; then tre; else gia"></div>
<ng-template #tre
  ><h2>{{ age }} trẻ</h2></ng-template
>
<ng-template #gia
  ><h2>{{ age }} già</h2></ng-template
>
<button (click)="resetName()">Click</button><br />

<div *ngIf="age == 1">
  <div *ngFor="let dv of animals">
    {{ dv }}
  </div>
</div>

<div>
  <h3>Fruits</h3>
  <table class="table">
    <tr>
      <th>Index</th>
      <th>Name</th>
      <th>Price</th>
      <th>Sales</th>
      <th>Price Sales</th>
    </tr>
    <tr *ngFor="let item of fruits; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ item.name | uppercase }}</td>
      <td>
        <span [ngClass]="{ 'text-orange': item.price >= 15 }">{{
          item.price | currency
        }}</span>
      </td>
      <td>{{ item.sales | onSales }}</td>
      <td *ngIf="item.sales">Sales !!!</td>
    </tr>
  </table>
</div>
