.table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.text-center {
  text-align: center;
}

.text-orange {
  color: orange;
  font-weight: bold;
}
